<!DOCTYPE html>
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Keyword</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"
  />
  <script
          src="https://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
          crossorigin="anonymous"
  ></script>
  <script
          src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.2/underscore-min.js"
          integrity="sha512-anTuWy6G+usqNI0z/BduDtGWMZLGieuJffU89wUU7zwY/JhmDzFrfIZFA3PY7CEX4qxmn3QXRoXysk6NBh5muQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  ></script>
</head>

<body>
<!--/*@thymesVar id="keywords" type="java.util.List"*/-->
<!--/*@thymesVar id="keyword" type="com.leeryu.collect.domain.response.KeywordResponse"*/-->
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">키워드</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="keyword : ${keywords}">
      <td th:text="${keyword.keywordName}"></td>
      <td>
        <button class="btn btn-sm btn-danger remove" data-th-data="${keyword.keywordName}">
          -
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="input-group mb-3">
    <input type="text" id="addKeyword" class="form-control"/>
    <button id="addBtn" class="btn btn-outline-secondary">등록</button>
  </div>
</div>
<script>
  $(document).on('click', '.remove', function () {
    fetch('/news/collect/config/keyword/' + $(this).attr('data'), {
      method: 'DELETE',
    })
            .then((response) => {
              if (response.ok) {
                location.reload();
              } else {
                alert('not saved');
              }
            })
            .catch((error) => console.error('Error:', error));
  });

  $('#addBtn').on('click', function () {
    const keyword = $('#addKeyword').val();
    if (_.isEmpty(keyword)) {
      alert('not empty keyword');
      return false;
    }

    fetch('/news/collect/config/keyword', {
      method: 'POST',
      body: keyword,
      headers: {
        'Content-Type': 'application/json',
      },
    })
            .then((response) => {
              if (response.ok) {
                location.reload();
              } else {
                alert('not saved');
              }
            })
            .catch((error) => console.error('Error:', error));
  });
</script>
</body>
<!--<th:block layout:fragment="content">-->

<!--</th:block >-->
</html>
