<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Please Log In</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"
  />
  <style>
    html,
    body {
      height: 100%;
    }

    body {
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }

    .form-signin .checkbox {
      font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type='email'] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type='password'] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
</head>
<body>
<main class="form-signin">
  <!-- Content here -->
  <div class="d-grid gap-2 d-md-block">
    <h1 class="h3 mb-3 fw-normal">Please Log In</h1>
  </div>
  <div th:if="${param.error}" id="emailHelp" class="form-text">
    Invalid username and password.
  </div>
  <form th:action="@{/login}" method="post">
    <div class="form-floating">
      <input
              type="email"
              class="form-control"
              name="username"
              id="floatingInput"
              placeholder="name@example.com"
              aria-describedby="emailHelp"
      />
      <label for="floatingInput" class="form-label">Email address</label>
    </div>
    <div class="form-floating">
      <input
              type="password"
              class="form-control"
              name="password"
              id="floatingPassword"
              placeholder="password"
      />
      <label for="floatingPassword" class="form-label">Password</label>
    </div>

    <div class="d-grid gap-2">
      <button type="submit" class="w-100 btn btn-lg btn-primary">
        Submit
      </button>
      <a th:href="@{/signup}" class="w-100 btn btn-lg btn-outline-primary">가입</a>
    </div>
  </form>
</main>
</body>
</html>
