<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title></title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"
  />
  <script
          src="https://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
          crossorigin="anonymous"
  ></script>
  <script
          src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.2/underscore-min.js"
          integrity="sha512-anTuWy6G+usqNI0z/BduDtGWMZLGieuJffU89wUU7zwY/JhmDzFrfIZFA3PY7CEX4qxmn3QXRoXysk6NBh5muQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  ></script>
</head>
<body>
<!--/*@thymesVar id="results" type="java.util.List"*/-->
<!--/*@thymesVar id="result" type="com.leeryu.collect.domain.response.ResultResponse"*/-->
<div class="container-sm">
  <div class="" style="text-align: right; margin: 10px auto;">
    <button th:id="kBtn" class="btn btn-sm btn-primary">키워드 등록</button>
    <button th:id="sBtn" class="btn btn-sm btn-primary">사이트 등록</button>
    <a th:href="@{/logout}" class="btn btn-sm btn-outline-warning">로그아웃</a>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">keyword</th>
      <th scope="col">title</th>
      <th scope="col">collection date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result : ${results}">
      <td th:text="${result.keywordName}"></td>
      <td>
        <a th:href="${result.url}" th:text="${result.title}" target="_blank"></a>
      </td>
      <td th:text="${#temporals.format(result.createAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
  </table>
</div>
<script>
  const kbtn = document.querySelector('#kBtn');
  const sbtn = document.querySelector('#sBtn');

  kbtn.addEventListener('click', function () {
    window.open(
            '/news/collect/config/keyword',
            'keywordFrame',
            'width=400, height=600, menubar=no, status=no, toolbar=no'
    );
  });
  sbtn.addEventListener('click', function () {
    window.open(
            '/news/collect/config/site',
            'siteFrame',
            'width=400, height=600, menubar=no, status=no, toolbar=no'
    );
  });
</script>
</body>
</html>
